$font-stack: "roboto", "Helvetica Neue", Helvetica, Arial;

* {
    box-sizing: border-box;
    transition:all .2s ease-in;
}

body

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vh auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: dodgerblue;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.List {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  margin: 1rem auto;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
}

.List-header {
  display: flex;
  align-items: center;
}

.List-header h2 {
  color: rgb(37, 36, 36)
}

.List-ingredients {
  width: 70%;
  border-radius: 100%;
}

.List-instructions {
  width: 70%;
  text-align: left;
}

.AddToList {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    margin: 1rem auto;
    padding: 2rem;
}

.AddToList-input {
  padding: 0.5rem;
  width: 25rem;
  font-size: 1rem;
  margin: 0.3rem auto;
  align-items: center;
}

.AddToList-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #0b5468;
  font-weight: 700;
  color: white;
  border: none;
  margin-top: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  background-color: dodgerblue;
  color: white;
}

